/* Self-hosted so the page renders identically offline and makes no
 * third-party requests. Latin subsets only. See fonts/README.md for licences.
 */

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/shrikhand-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('../fonts/oswald-var.woff2') format('woff2');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/zillaslab-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/zillaslab-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/zillaslab-400i.woff2') format('woff2');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/zillaslab-700i.woff2') format('woff2');
}
